* {
    box-sizing: border-box;
}
body{
    width: 1100px;
    margin: auto;
}

header{
    display: flix;
    align-items: center;
    padding: 10px 50px;
     margin-bottom: 30px;
    position: relative;

}
header div section:nth-child(1) {
    position: relative;
    line-height: .5;
}
#logo {
    top: 40px;
}
#P1 {
    font-size: 11px; 
   position: absolute;  
   bottom: -88px; 
  
   font-family: serif; 
   opacity: 0.8;
}
#H1{
    top: -11px;
    position: absolute;   
     font-size: 50px;    
    font-family: 'Dancing Script', cursive;
}

#section1{
    margin-top: 10px;
    display: inline;
    float: right;
}
 

